.note-bg-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
}
.note-header-container {
  height: 100px;
  border-bottom: solid 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}
.myNotes-note-header-logo {
  height: 50px;
}

.myNotes-logo-Note-header-container {
  display: flex;
  align-items: center;
  color: #0f70e6;
  height: 30px;
}
.myNotes-txt {
  font-weight: bold;
}
.note-logo-icon {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
