.home-bg-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
}

.home-navbar-container {
  background-color: #4169e1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.sort-title-date-container {
  display: flex;
}
.sort-button {
  color: #ffffff;
  background-color: transparent;
  border: solid 1px;
  margin: 8px;
  font-weight: bold;
  height: 28px;
  border-radius: 8px;
}
.input-search-class {
  border: solid 0px;
  width: 50%;
  height: 30px;
  padding-left: 12px;
  outline: none;
}

/* .input-search-class::placeholder {
  color: #ffffff;
} */

.light-dark-mode {
  background-color: transparent;
  border: solid 0px;
  color: yellow;
  font-size: 24px;
}
.home-navbar-container-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
}
.logo-icon-position {
  align-self: center;
}
.logo-icon {
  height: 50px;
}
.delete-feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.myNotes {
  color: #4169e1;
  font-weight: bold;
}
.delete-all {
  background-color: #4169e1;
  border: solid 0px;
  color: #ffffff;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 8px;
}
.feedback {
  background-color: #4169e1;
  border: solid 0px;
  color: #ffffff;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 8px;
}

.text-checkbox-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button-img-logo {
  background-color: transparent;
  border: solid 0px;
}
.button-logo {
  height: 70px;
}
