.navbar-bg-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 35px;
  margin-top: 12px;
  align-self: center;
}
.search-input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: solid 0px;
  background-color: #f7f7f7;
  padding: 12px;
  outline: none;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-size: cover;
  align-items: center;
  margin-bottom: 10px;
  /* border: solid 1px; */
  margin: auto;
}

.side-bar-toggle-button {
  background-color: transparent;
  border: solid 0px;
  cursor: pointer;
}

.toggle-bar {
  font-size: 20px;
}

.my-notes-icon-button {
  background-color: transparent;
  border: solid 0px;
}

.selector-container {
  margin-bottom: 4px;
}
.selector {
  border: solid 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.Delete-All {
  border: solid 0px;
  background-color: #0f70e6;
  color: #ffffff;
  height: 35px;
  width: 90px;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
}
.Delete-All-Icon {
  display: none;
}
.MdDeleteSweep {
  font-size: 20px;
}

@media screen and (max-width: 830px) {
  .search-container {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .myNotes-title {
    display: none;
  }
  .Delete-All {
    display: none;
  }
  .Delete-All-Icon {
    display: inline;
    border: solid 0px;
    background-color: #4169e1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
  }
  .myNotes-logo {
    height: 40px;
  }
  .myNotes-title {
    color: #4169e1;
    font-size: 12px;
  }
}

@media screen and (max-width: 190px) {
  .navbar-bg-container {
    overflow: auto;
  }
}
