.Sidebar-bg-container {
  background-size: cover;
  position: fixed;
  top: 101px;
  width: 250px;
  min-height: 100vh;
  border-right: solid 1px #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  overflow: auto;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
/* background-color: #0f70e6; */

.hide-sidebar-bg-container {
  background-size: cover;
  position: fixed;
  top: 101px;
  width: 250px;
  min-height: 100vh;
  border-right: solid 1px #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  overflow: auto;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  color: black;
}
.sidebar-logo-container:hover {
  color: white;
  background-color: #0f70e6;
}

.sidebar-logo {
  font-size: 25px;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 12px;
}

.side-bar-menu-name {
  cursor: pointer;
}

.myNotes-sidebar-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  margin-left: 18px;
  background-color: #ffffff;
  width: 210px;
}

.myNotes {
  height: 60px;
}

.my-notes-sidebar {
  font-weight: bold;
  color: #0f70e6;
}
.my-notes-sidebar-paragraph {
  font-size: 11px;
}
